<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>网页头部</title>
<style type="text/css">
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#header {
	width: 100%;
	height: 20%;
	text-align: right;
}
.interval{
padding: 0 40px 0 0;
}
</style>
</head>
<body>
	<div id="header">
		<a href="/" class="interval">主页</a>
		<a href="/pigeonhole" class="interval">归档</a>
		<a href="/friendlink" class="interval">友链</a>
		<a href="#" class="interval">搜索</a>
	</div>
</body>
</html>